*{
    margin: 0;
    font-family: "Caveat Brush", cursive;
}

.navbar{
    width: 100%;
    height: 80px;
    position: absolute;
    background-color: #D8F3DC;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #1B4332;
}

.navbar-link{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.navbar-button{
    font-size: 25px;
    display: inline-block;
}

.icon{
    font-weight: 600;
    font-size: 30px;
}

.header{
    display: flex;
    width: full;
    height: 100vh;
    gap: 20px;
    background-color: #C5E1A5;
}

#header-1{
    align-items: end;
}

#header-2{
    align-items: start;
    background: #1B4332;
}

.hero-fruit-image{
    width: 60%;
    height: 60%;
}

.header-child{
    padding: 5px 10px 5px 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text{
    color: #1B4332;
    width: 60%;
}

.header-text h1{
    font-size: 35px;
    display: inline-block;
}

.header-text h2{
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 5px;
}

.header-cta{
    width: 60%;
}

.header-cta-button{
    display: inline-block;
    padding: 15px 20px 15px 20px;
    background-color: #40916C;
    font-weight: 700;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 30px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 400;
}

.header-cta-button:active{
    transform: scale(0.9);
}
